
// HEADER
.port-navbar.port-default {
  width: 100%;
  z-index: 15;
  padding: 35px;

  &.with-bg {
    background-image: linear-gradient(45deg,#00aeef 0%,#096fb9 100%);
  }

  .port-navbar {
    &-brand {
      color: white;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: white;
      opacity: 0.7;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;

      &.active {
      color: #dba919;
      }

      &:hover, &:focus {
        color: #dba919;
        opacity: 1.0;
      }
    }
  }

  .port-dropdown-menu {
    .port-dropdown-item {
      color: #4e4e4e;
  
      &.active {
        color: #dba919;
      }
    }
  
    .port-dropdown-toggle {
      color: white;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

}

.navbar-social {
  font-size: 3.5vh;
}

.login {
  color: white !important;
  opacity: 1.0 !important;
}