// Fonts
@import './shared/fonts';

// Components
@import './components/header';

// Pages
@import './index';

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica' !important;
}

.base-page {
  padding-top: 150px;
  color: white;
}

.clickable {
  cursor: pointer;
}

.absolute {
  position: absolute !important;
}

.self-typed {
  font-size: 31px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}